* {
  margin: 0;
  font-family: "Alumni Sans Pinstripe", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  /* background-color: #023047; */
  background: linear-gradient(to bottom right, #023047 0%, #8ecae6 120% );  
  min-height: 100vh;
}

.content-container{
  box-sizing: border-box;
  /* border:1px solid #8ecae6; */
  margin-left:7em;
  margin-right:7em;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dash {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  height: 7vh;
  /* border:1px solid red; */
  margin:1em;
}

.links {
  color:white;
  /* border:1px solid white; */
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.links li {
  margin-right:1em;
  font-size:1.5rem;
}

.content-items {
  display: flex;
  flex-direction: row;
  /* border:1px solid #8ecae6; */
  height:80vh;
}

.about {
  /* border:1px solid #8ecae6; */
  width:60%;
  margin-left:2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:0.7em;
  color: #8ecae6;
  font-size:1.6rem;
}

.about h1 {
  font-size:4rem;
}

#second-line {
  margin-top:1em;
}

.projects {
  /* border:1px solid #8ecae6; */
  color:#8ecae6;
  flex:1;
  margin-right: 2.5em;
  display: flex;
  align-items: center;
}

.projects h1 {
  font-size:2rem;
  padding:1em;
  align-self: flex-start;
}

.projects .projects-container{
  /* border:1px solid #8ecae6; */
  flex:1;
}

.project-names {
  /* border:1px solid yellow; */
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.project-names li {
  list-style-type: none;
  margin-top:1.4em;
  width:130px;
  text-align:center;
  border-bottom: 1px solid #8ecae6;
  font-size:1.5rem;
  padding-bottom: 0.2em;
}

a {
  color: #8ecae6;
  text-decoration: none;
}

a:hover {
  padding-left:10px;
  padding-right:10px;
  color:#91e0f4;
  background-color: #023047;
  transition:0.2s;
}

a:active {
  color:#c7edff;
}

@media screen and (max-width: 800px) {

  .wrapper {
    min-height: 100dvh; 
  }

  
  .content-container{
    
    margin-left:0;
    margin-right:0;
    min-height: auto;

  }

  .content-items {
   flex-direction: column;
  }
}




